[run]
include =
    artisan/*
omit =
    artisan/compat.py
    artisan/worker/expandvars.py
    artisan/_vendor/*
concurrency = multiprocessing

[report]
exclude_lines =
    except ImportError:
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Skip coverage.*
    .*def __repr__.*
    .*def __str__.*