[run]
include =
    artisan/*
omit =
    artisan/compat.py

[report]
exclude_lines =
    except ImportError:
    pass
    import
    raise
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Skip coverage.*
