[run]
include =
    artisan/*
omit =
    artisan/compat.py
    artisan/command/ssh_command.py
    artisan/worker/expandvars.py
    artisan/worker/ssh_worker.py

[report]
exclude_lines =
    except ImportError:
    pass
    import
    raise
    .* # Platform-specific.*
    .*:.* # Python \d.*
    .* # Skip coverage.*
    .*def __repr__.*
    .*def __str__.*